body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./images/background2.jpg');
    background-size: cover; /* Makes the image cover the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; 

}

.container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #4a4eea;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: linear-gradient(135deg, #4a4eea, #6a67fc);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: linear-gradient(135deg, #6a67fc, #4a4eea);
}

p{
    margin: 10px 0;
    font-size: 0.9rem;
    color: #4a4eea;
    text-decoration: none; 
}



.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}
